<form [formGroup]="prestamoForm" (ngSubmit)="onSubmit()">

    <div style="width: 80% !important;MARGIN: 0% 5% 0% 10%;">

        <div class="row col-xs-12">
            <h1 style="margin: 3% 0% 0% 20% ;text-align: center;"><b> Nuevo Prestamo</b></h1>
        </div>

        <div class="row col-xs-6">
            <div class="col">
                <label for="lsolicitud">Solicitud</label>



                <select class="form-select" formControlName="idSolicitud" id="solicitud" style="width: 100%; height: 38px; border: 1px solid #ced4da">
                  <option [ngValue]="null">Seleccione una Solicitud</option>
                  <option *ngFor="let doc of tsolicitud" value="{{ doc.idTipoSolicitud }}">{{ doc.descripcion }} </option>
                </select>

            </div>
            <div class="col">
                <label for="lusuario">Usuario</label>


                <select class="form-select" formControlName="usuarioId" id="usuario" style="width: 100%; height: 38px; border: 1px solid #ced4da">
                  <option [ngValue]="null">Seleccione un Usuario</option>
                  <option *ngFor="let doc of usuarios" value="{{ doc.usuId }}">{{ doc.usuNombre }} </option>
                </select>

            </div>
        </div>

        <div class="row col-xs-6">
            <div class="col">
                <label for="lmonto">monto</label>
                <input type="number" class="form-control" id="monto" name="precio" formControlName="monto" placeholder="monto">
            </div>
            <div class="col">
                <label for="lplazoEnMeses">plazo En Meses</label>

                <input type="number" class="form-control" id="plazoEnMeses" name="plazoEnMeses" formControlName="plazoEnMeses" placeholder="plazoEnMeses">
            </div>
        </div>

        <div class="row col-xs-6">
            <div class="col">
                <label for="lestadoPrestamo">estado Prestamo</label>

                <select id="estadoPrestamo" formControlName="estado" class="form-control">
                  <option value="true">Activo</option>
                  <option value="false">Inactivo</option>
                </select>


            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>


        <div class="row col-xs-12">
            <div>&nbsp;
                <input type="hidden" class="form-control" id="idPrestamo" name="idPrestamo" formControlName="idPrestamo" value="0">
            </div>
        </div>
        <div class="row col-xs-12">
            <div class="col" style=" text-align: center;">
                <button type="button" class="btn btn-primary" mat-dialog-close="true">Cancelar</button>
            </div>
            <div class="col" style=" text-align: center;">
                <button type="submit" mat-dialog-close="true" class="btn btn-success">Guardar</button>
            </div>
        </div>


        <div class="row col-xs-12">
            <div>&nbsp;</div>
        </div>
    </div>
</form>
