<table>
    <tr *ngFor="let i of usuariosar">
        <td>
            <form (ngSubmit)="onSubmit()">

                <div style="width: 80% !important;MARGIN: 0% 5% 0% 10%;">

                    <div class="row col-xs-12">
                        <h1 style="margin: 3% 0% 0% 20% ;text-align: center;"><b> Editar Usuario</b></h1>
                    </div>

                    <div class="row col-xs-6">
                        <div class="col">
                            <label for="lnombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="i.usuNombre" placeholder="Nombre">
                        </div>
                        <div class="col">
                            <label for="ltdocumento">Tipo Documento</label>




                            <select *ngIf="tipodocumento.length > 0" class="form-select" [(ngModel)]="i.tipoDocumento" id="doctype" name="doctype" style="width: 100%; height: 38px; border: 1px solid #ced4da">
                        <option [ngValue]="null">Seleccione un tipo de documento</option>
                        <option *ngFor="let doc of tipodocumento" [ngValue]="doc.idTipoDocumento">
                          {{ doc.descripcion }}
                        </option>
                      </select>

                        </div>
                    </div>

                    <div class="row col-xs-6">
                        <div class="col">
                            <label for="lnombre">Numero Documento</label>
                            <input type="number" class="form-control" id="numerodocumento" name="numerodocumento" [(ngModel)]="i.numDocumento" placeholder="Numero Documento">
                        </div>
                        <div class="col">
                            <label for="ldescripcion">Rol</label>

                            <select *ngIf="roles.length > 0" class="form-select" [(ngModel)]="i.usuRol" id="rol" name="rol" style="width: 100%; height: 38px; border: 1px solid #ced4da">
                        <option [ngValue]="null">Seleccione un Rol</option>
                        <option *ngFor="let doc of roles" [ngValue]="doc.idRol">
                          {{ doc.descripcion }}
                        </option>
                      </select>


                        </div>
                    </div>

                    <div class="row col-xs-6">
                        <div class="col">
                            <label for="lnombre">Correo Electronico</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="i.usuCorreo" placeholder="Correo">
                        </div>
                        <div class="col">
                            <label for="ldescripcion">Contraseña</label>

                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="i.usuContrasena" placeholder="Contrasena">
                        </div>
                    </div>


                    <div class="row col-xs-6">
                        <div class="col">
                            <label for="lestado">Estado</label>

                            <select class="form-select" aria-label="Default select example" id="estado" name="estado" [(ngModel)]="i.usuEstado" style="width: 100%;height: 38px;border: 1px solid #ced4da">
                        <option [value]='0' selected>Select Option</option>
                        <option [value]='true'>Activo</option>
                        <option [value]='false'>Inactivo</option>
                      </select>
                        </div>
                        <div class="col">
                            <label for="lCiudad">Ciudad</label>

                            <select *ngIf="ciudades.length > 0" class="form-select" [(ngModel)]="i.usuCiudad" id="rol" name="rol" style="width: 100%; height: 38px; border: 1px solid #ced4da">
                      <option [ngValue]="null">Seleccione una Ciudad</option>
                      <option *ngFor="let doc of ciudades" [ngValue]="doc.idCiudad">
                        {{ doc.nombre }}
                      </option>
                    </select>

                        </div>
                    </div>


                    <div class="row col-xs-12">
                        <div>&nbsp;
                            <input type="hidden" class="form-control" id="idusuario" name="idusuario" [(ngModel)]="i.usuId" value="0">
                        </div>
                    </div>
                    <div class="row col-xs-12">
                        <div class="col" style=" text-align: center;">
                            <button type="button" class="btn btn-primary" mat-dialog-close="true">Cancelar</button>
                        </div>
                        <div class="col" style=" text-align: center;">
                            <button type="submit" [mat-dialog-close]="true" class="btn btn-success">Guardar</button>
                        </div>
                    </div>


                    <div class="row col-xs-12">
                        <div>&nbsp;</div>
                    </div>
                </div>
            </form>





        </td>
    </tr>
</table>
